<html> 
	<head> 



	    <title></title>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 	
		<link rel="stylesheet" type="text/css" href="../static/css/style.css/">
	    <link rel="stylesheet" type="text/css" href="../static/css/semantic.css"/>
	    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../static/js/semantic.js"/>
	    <link rel="stylesheet" type="text/css" href="../static/js/semantic.min.js"/>

	    <meta http-equiv="refresh" content="3; URL= /index/">
	</head>
	<body>
		<div class="ui warning message">
			<i class="close icon"></i>
			<div class="header">
				<font>
					<font>
		    			Não existe resultado para consulta!
					</font>
				</font>
			</div>
			<font>
				<font>
					Altere o período de tempo e tente novamente
				</font>
			</font>
		</div>
	</body>
<html>
