<html> 
	<head> 



	    <title></title>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 	
		<link rel="stylesheet" type="text/css" href="../static/css/style.css/">
	    <link rel="stylesheet" type="text/css" href="../static/css/semantic.css"/>
	    <link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../static/js/semantic.js"/>
	    <link rel="stylesheet" type="text/css" href="../static/js/semantic.min.js"/>

	    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
		<script type="text/javascript" src="/teste/"></script>
		<script type="text/javascript" src="/jquery/"></script>
		<script type="text/javascript" src="/poligono/"></script>

	
		<script type="text/javascript">

		$(function(){
			//create map
			var myCenter = new google.maps.LatLng(-26.299869,-48.845216);
			var myOptions = {
				zoom: 12,
			  	center: myCenter,
			  	mapTypeId: google.maps.MapTypeId.HYBRID//MapTypeId.SATELLITE //MapTypeId.ROADMAP
			}
			map = new google.maps.Map(document.getElementById('main-map'), myOptions);
			coordenadas = document.getElementById('coordenadas').value;
			 
			v_coordenadas = coordenadas.split(";");
			for(var par in v_coordenadas){
			 	if(v_coordenadas[par].length > 1){
			 		latlon = v_coordenadas[par].split(" ");
			 		//alert("latitude: "+latlon[0]+" longitude: "+latlon[1]);
			 		//alert(v_coordenadas[par]);

			 		var marker = new google.maps.Marker({
						position: new google.maps.LatLng(latlon[0],latlon[1]),
						map: map
					});
			 	}
			 }
	 
		});
			
		//marker.setMap(map);
		//google.maps.event.addDomListener(window, 'load', initialize);
			 
		
	   
		</script>
	</head>
	<body>
		
		<div class="ui segments">
			<div class="ui segment">
				<h1 class="ui header"><font><font><p>Resultado da consulta</p></font></font></h1>
			</div>
	  		<div class="ui segment">
				<div class="ui centered grid">
					<div id="main-map" class="computer only row"></div>
					
					<div id="side">
				 		<textarea id="coordenadas" style="display:none">{% for latlon in l_coord %}{{ latlon }};{% endfor %}</textarea>
					</div>
				</div>
			</div>
			<div class="ui segment">
				<div class="sixteen wide column">Informações da consulta
				<textarea id="infos">{% for i in d_coord %}{{ i }};{% endfor %}</textarea>
				</div>
			</div>
			<div class="ui segment">
				<form class="ui form" action="/exibeinfracoes/">
					<button class="ui secondary basic button">Exibir todas</button>
				</form>
			</div>

		</div>
	</body>
</html>
